*{
	margin: 0;
	padding: 0;
}
.container{
	width: 980px;
	height: 2000px;
	margin: 0 auto;
}
.header{
	border-bottom: 2px solid #938e8c;
	position: relative;
	margin: 0 44px;
}
.top_logo{
	width: 110px;
	height: 61px;
	background-color: #D55D5C;
}
.header .top_logo span{
	position: absolute;
	font-size: 12px;
	font-family:SimHei;
	color: #ffffff;
	padding-top: 46px;

}
.datetime span{
	font-size: 12px;
	color: #d45d5c;
	font-family: SimHei;
	position: absolute;
	bottom: 0;
	right: 0;
}
.middle{
	margin: 25px 44px;
}
.pic{
	width: 641px;
	height: 301px;
	background-image: url(../images/high.jpg);
	position: relative;
	display: inline-block;
}
.left{
	position: absolute;
	z-index: 1;
	width: 191px;
	height: 301px;
	background-color: #335544;
	opacity: 0.6;
}
.right{
	position: absolute;
	z-index: 1;
	width: 191px;
	height: 301px;
	margin-left: 450px;
	background-color: #6D4550; 
	opacity: 0.6;
}
.about{
	border-top: 2px solid #cc8091;
	width: 203px;
	float: right;
	height: 301px;
}
.about .a1,
.a2{
	color: #000000;
	font-family: "Microsoft YaHei" ! important;	
	line-height: 40px;
}
.about .a1:first-letter,
.a2:first-letter{
	font-size: 24px;
}
.about .a1:after{
	content: "";
	display: block;
	margin-top:-11px;
	border-bottom:2px solid grey;
	width: 60px;
}
.about .a2:after{
	content: "";
	display: block;
	margin-top:-11px;
	border-bottom:2px solid grey;
	width: 113px;
}
.about .a3{
	font-size: 12px;
	font-family: "KaiTi";
	line-height: 10px;
	color: #676767;
}
.about .a4{
	font-size: 116px;
	color: #75b86b;
	font-family: "Microsoft YaHei";
	font-style: italic;
}
.about .a5,
.a7,
.a6{
	color: #cc8091;
	font-family: "Microsoft YaHei";
}
.about .a5{
	font-size: 55px;
	float: left;
}
.about .a6{
	font-size: 21px;
}
.about .a7{
	font-size: 12px;
}
.small{
	display: inline-block;
	position: absolute;
	margin: 17px 15px 15px 5px;
}
.big{
	position: relative;
}
.message{
	width: 641px;
	overflow: hidden;
}
.what,
.when,
.how
{
	width: 200px;
	margin:20px 0;
}
.what span{
	font-size: 16px;
	color: #418c59;
	font-family: "Microsoft YaHei";
	font-weight: bold;
	text-decoration: underline;
}
.what p{
	line-height: 16px;
	color: #767777;
	font-family: "STSong";
	font-size: 12px;
	padding-top: 5px;
}
.when span{
	font-size: 16px;
	color: #d2994f;
	font-weight: bold;
	text-decoration: underline;
}
.when p{
	font-size: 12px;
	color: #231815;
	font-family: "Microsoft YaHei";
	line-height: 16px;
	opacity: 0.7;
	padding-top: 5px;
}
.how span{
	font-size: 16px;
	color: #cc7680;
	font-weight: bold;
	text-decoration: underline;
}
.how p{
	font-size: 12px;
	font-family: "Microsoft YaHei";
	line-height: 16px;
	opacity: 0.7;
	padding-top: 5px;
}
.inner .size{
	color: #cd4a48;
	font-style: normal;
}
.inner{
	padding-top: 20px;
}
.what{
	float: left;
}
.when,.how{
	float: left;
	position: relative;
	margin-left: 20px;
}
.content{
	width: 415px;
	margin-top: 30px;
	display: inline-block;
}
.title .eng{
	font-size: 42px;
	color: #11456b;
	font-weight: bold;
	line-height: 16px;
	font-family: "SimHei";
}
.title .eng span{
	font-size: 72px;
	color: #f5e327;
	font-family: "SimHei";
	font-weight: bold;
	font-style: italic;
}
.title .chn{
	font-size: 33px;
	color: #11456b;
	font-family: "SimHei";
	font-weight: bold;
	margin-bottom: 8px;
}
.title .eng1{
	font-size: 42px;
	color: #11456b;
	font-weight: bold;
	line-height: 16px;
	font-family: "SimHei";
	margin: 20px 0 10px;
}
.word .otherpharah{
	font-size: 12px;
	color: #767777;
	line-height: 16px;
	font-family: "STSong";
	text-indent: 2em;
}
.bigword{
	float: left;
}
.bigword span{
	font-size: 70px;
	color: #f5e327;
	font-family: "Microsoft YaHei";
	line-height: 70px;
}
.word .firstpharah{
	font-size: 12px;
	color: #767777;
	line-height: 16px;
	font-family: "STSong";
}
.word img{
	float: right;
	width: 170px;
	height: 250px;
/*	padding: 10px 0 10px 10px;*/
	margin: 15px 0 15px 15px;
}
.word{
	margin-top: 20px;
}
.sideright{
	float: right;
	width: 458px;
	height: 275px;
}
.sideright .sideimg{
	width: 458px;
	height: 275px;
	background-image: url(../images/coding.jpg);
	position: relative;
	margin-top: 10px;
}
.sideright .mask{
	width: 458px;
	height: 61px;
	background-color: #8B8784;
	z-index: 1;
	opacity: 0.9;
	position: absolute;
	margin-top: 214px;
}
.indro{
	border-left: 5px solid #72b16a;
	z-index: 2;
	margin-left: 50px;
}
.indro p{
	font-size: 26px;
	color: #FCFFFF;
	font-family: "Microsoft YaHei";
	line-height: 61px;
	font-weight: bolder;
	padding-left: 15px;
}
.indro span{
	font-size: 12px;
	color: #7AB074;
	font-family: "Microsoft YaHei";
	font-style: italic;
	line-height: 140%;
	font-weight: bolder;
}
.secondright{
	width: 459px;
	height: 302px;
	background-color: #EEEED6;
	border:1px solid #ffffff;
	margin-top: 30px;
}
.secondright p{
	font-size: 16px;
	color: #5a5b5b;
	font-family: "STSong";
	line-height: 20px;
	text-align: left;
	margin: 18px;
}
.secondright span{
	font-size: 12px;
	color: #5a5b5b;
	font-family: "STSong";
	line-height: 20px;
	text-align: right;
	font-style: italic;
	position: relative;
}
.bottomleft{
	width: 260px;
	height: 160px;
	background-color: #D55D5C;
	border:1px solid #ffffff;
	position: relative;
	margin-top: 25px;

}
.bottomleft #zero{
	font-size: 110px;
	font-family: "Microsoft YaHei";
	color: #ffffff;
	line-height: 160px;
	margin-left: 15px;
}
#layer{
	position:absolute; 
	width:2px; 
	height:86px; 
	z-index:1; 
	background-color: #ffffff;
	layer-background-color: #000000; 
	border: 1px none #ffffff; 
	left: 85px; 
	top: 40px;
}
#hi{
	position: absolute;
	left: 80px;
	top: 15px;
}
#hi .max{
	font-size: 21px;
	color: #ffffff;
	font-family: "SimHei";
	line-height: 24px;
	font-style: italic;
}
#hi .min{
	font-size: 12px;
	color: #ffffff;
	font-family: "SimHei";
	line-height: 16px;
}
#englishword p{
	font-size: 14px;
	color: #5a5a5b;
	font-family: "SimHei";
	line-height: 16px;
	font-style: italic;
}
#englishword #top,
#bottom
{
	font-size: 72px;
	color: #d45d5c;
	font-family: "SimHei";
}
#englishword{
	width: 190px;
	float: right;
	margin: 15px 4px;
}
#englishword #top{
	float: left;
	margin-left: -70px;
}
#englishword #bottom{
	float: right;
	margin-top: 28px;
}
.fotter{
	margin: 50px 44px;
	border-top: 1px solid #938e8c;
	width: 892px;
	position: relative;
}
.fotter span{
	font-size: 12px;
	color: #d45d5c;
	font-family: "SimHei";
	position: absolute;
	top: 0;
	right: 0;
}